BasedOnStyle: Google
Language: Cpp

ColumnLimit: 120

IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentAccessModifiers: false
AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: true

AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true

AllowAllArgumentsOnNextLine: true
ContinuationIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  BeforeElse: true
  BeforeCatch: true

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

NamespaceIndentation: None

SortIncludes: true
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements