Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -misc-include-cleaner,
  -misc-no-recursion,
  -modernize-use-designated-initializers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -portability-avoid-pragma-once,
  -readability-braces-around-statements,
  -readability-enum-initial-value,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-redundant-inline-specifier,

  # Reenabled checks:
  # -bugprone-exception-escape,
  # -clang-analyzer-optin.core.EnumCastOutOfRange,
  # -cppcoreguidelines-pro-type-reinterpret-cast,
  # -cppcoreguidelines-pro-type-union-access,
  # -misc-const-correctness,

WarningsAsErrors: ''
HeaderFilterRegex: '^(.*(/src|/include)/).*$'
FormatStyle: file

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             cppcoreguidelines-narrowing-conversions.WarnOnFloatingPointNarrowingConversion
    value:           'true'
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '30'